.gridHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 40% 20% 20%;
  z-index: 1;
}

.graphHome{
  margin: 0;
}

.infohHome{
  margin: 0;
}

.meteoHome{
  margin: auto;

}