.gridHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 35% 20% 45%;
}

.graphHome{
  margin: 0;
  background-color: aqua;
}

.zizi{
  position: absolute;
  top:0;
  left:0;
}

.meteoHome{
  margin: auto;
}

.infoHome{
  margin: 0;
  background-color: blueviolet;
}
