.homeGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 35% 20% 35%;
  z-index: 1;
}

h1{
  background-color: green;
  margin: 0;
}

h2{
  background-color: blue;
  margin: 0;
}

h3{
  background-color: red;
  margin: 0;
}