.contactGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows:  80% 20%;
  z-index: 1;
}

img{
  width: 15em;
  height: auto;
  margin: 10%;
}

.btnContact{
  position: relative;
  padding: 20%;
}

p{
  position: absolute;
  bottom: 10%;
  color: gray; 
}